<div class="hero-wrapper home hero-2" id="hero">
  <div class="hero-2-thumb wow img-custom-anim-right video-container" data-wow-duration="1.5s" data-wow-delay="0.2s">
    <div class="video-container">
      <video class="background-video" [autoplay]="'autoplay'" [loop]="'loop'" muted>
        <source src="assets/videos/xm-dark.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>  
    </div>
  </div>
  <div class="container">
    <div class="hero-style2">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="hero-title wow img-custom-anim-right text-white">End-to-End Digital Solutions, Enhanced with AI</h1>
        </div>
        <div class="col-xxl-6 col-xl-7 col-lg-8">
          <p class="hero-text wow img-custom-anim-left text-white">XM Digitals helps businesses grow with end-to-end digital solutions, combining creative design, web and application development, digital growth strategies, and optional AI-powered automation.</p>
          <p class="hero-text wow img-custom-anim-left text-white">Based in Jakarta, working with growing teams globally</p>
          <div class="btn-group fade_left">
            <a [routerLink]="'/about-us'" class="btn style2 wow img-custom-anim-left">
              <span class="link-effect">
                <span class="effect-1">About Us</span>
                <span class="effect-1">About Us</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>