<div class="feature-area-1 space">
  <div class="container">
    <div class="row gy-4 align-items-center justify-content-center">
      <div class="col-xl-6 col-md-6">
        <div class="feature-card">
          <div class="feature-card-icon">
              <img src="assets/images/xm-creative.jpg" alt="icon">
          </div>
          <h4 class="feature-card-title">
              <a href="#">XM Creative</a>
          </h4>
          <p class="feature-card-text">We care success relationships fuel success we love building</p>
          <a href="#" class="link-btn">
              <span class="link-effect">
                  <span class="effect-1">VIEW DETAILS</span>
                  <span class="effect-1">VIEW DETAILS</span>
              </span>
              <img src="assets/images/icon/arrow-left-top.svg" alt="icon">
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="feature-card">
          <div class="feature-card-icon">
              <img src="assets/images/xm-techops.jpg" alt="icon">
          </div>
          <h4 class="feature-card-title">
              <a href="#">XM TechOps</a>
          </h4>
          <p class="feature-card-text">We care success relationships fuel success we love building</p>
          <a href="#" class="link-btn">
              <span class="link-effect">
                  <span class="effect-1">VIEW DETAILS</span>
                  <span class="effect-1">VIEW DETAILS</span>
              </span>
              <img src="assets/images/icon/arrow-left-top.svg" alt="icon">
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="feature-card">
          <div class="feature-card-icon">
              <img src="assets/images/xm-ai.jpg" alt="icon">
          </div>
          <h4 class="feature-card-title">
              <a href="#">XM Artificial Intelegance</a>
          </h4>
          <p class="feature-card-text">We care success relationships fuel success we love building</p>
          <a href="#" class="link-btn">
              <span class="link-effect">
                  <span class="effect-1">VIEW DETAILS</span>
                  <span class="effect-1">VIEW DETAILS</span>
              </span>
              <img src="assets/images/icon/arrow-left-top.svg" alt="icon">
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-md-6">
        <div class="feature-card">
          <div class="feature-card-icon">
              <img src="assets/images/xm-growth.jpg" alt="icon">
          </div>
          <h4 class="feature-card-title">
              <a href="#">XM Growth</a>
          </h4>
          <p class="feature-card-text">We care success relationships fuel success we love building</p>
          <a href="#" class="link-btn">
              <span class="link-effect">
                  <span class="effect-1">VIEW DETAILS</span>
                  <span class="effect-1">VIEW DETAILS</span>
              </span>
              <img src="assets/images/icon/arrow-left-top.svg" alt="icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>