<footer class="footer-wrapper footer-layout4 overflow-hidden bg-smoke">
  <div class="container">
    <div class="widget-area">
      <div class="row justify-content-between">
        <div class="col-md-6 col-xl-5 col-lg-6">
          <div class="widget widget-about footer-widget">
            <h3 class="footer-top-title">Let’s Work Together</h3>
            <p class="about-text">Have an idea & want to make it happen? Don't hesitate talk to us</p>
            <a [href]="'https://wa.me/081806603068?text=Talk%20With%20Us'" class="btn btn-talk">
              <span class="link-effect">
                <span class="effect-1">Let's Talk With Us</span>
                <span class="effect-1">Let's Talk With Us</span>
              </span>
            </a>
            <div class="social-btn style3">
              <a href="https://twitter.com/xmdigitals-indonesia">
                <span class="link-effect">
                  <span class="effect-1"><i class="fab fa-twitter"></i></span>
                  <span class="effect-1"><i class="fab fa-twitter"></i></span>
                </span>
              </a>
              <a href="https://linkedin.com/company/xmdigitals-indonesia">
                <span class="link-effect">
                  <span class="effect-1"><i class="fab fa-linkedin"></i></span>
                  <span class="effect-1"><i class="fab fa-linkedin"></i></span>
                </span>
              </a>
              <a href="https://instagram.com/xmdigitals-indonesia">
                <span class="link-effect">
                  <span class="effect-1"><i class="fab fa-instagram"></i></span>
                  <span class="effect-1"><i class="fab fa-instagram"></i></span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xl-2 col-lg-3">
          <div class="widget widget_nav_menu footer-widget">
            <h3 class="widget_title">Links</h3>
            <div class="menu-all-pages-container list-column2">
              <ul class="menu">
                <li><a [routerLink]="'/about-us'">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Sitemap</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-auto col-lg-4">
          <div class="widget footer-widget widget-contact">
            <h3 class="widget_title">Contact</h3>
              <ul class="contact-info-list">
              <li>Plaza Oleos 5th floor, <br> Jakarta, Indonesia</li>
              <li>
                <a href="tel:+6281806603068">+62 818 0660 3068</a> <br>
                <a href="mailto:hello@xmdigitals.com">hello&#64;xmdigitals.com</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright-wrap">
      <div class="row gy-3 justify-content-center align-items-center text-center">
        <div class="col-md-12">
          <p class="copyright-text">Copyright © 2026 XM Digitals</p>
        </div>
      </div>
    </div>
  </div>
</footer>