@use '../../../styles.scss' as *;

.nav-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 41;
}
.sticky-wrapper {
	transition: 0.4s ease-in-out;
	padding: 0 36px;
}
.sticky-wrapper.header-sticky {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background-color: var(--white-color);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	animation: stickyAni 0.6s ease-in-out;
}
.navbar-right {
	gap: 15px;
}
.main-menu {
	a {
		display: block;
		position: relative;
		font-weight: 600;
		font-family: $font-family_3;
		font-size: 14px;
		color: $color_2;
		letter-spacing: -0.14px;
		&:hover {
			color: $color_2;
			&:before {
				background: var(--theme-color);
			}
		}
	}
	>ul {
		display: flex;
		align-items: center;
		margin: 0 -20px !important;
		>li {
			margin: 0;
			>a {
				padding: 41.5px 20px;
				&:hover {
					color: $color_2;
					.effect-1 {
						top: -100%;
					}
				}
			}
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
			display: inline-block;
			position: relative;
			&:last-child {
				margin-right: 0 !important;
			}
			&:first-child {
				margin-left: 0 !important;
			}
			&:hover {
				.menu-pages {
					visibility: visible;
					opacity: 1;
					transform: scaleY(1) translate(-50%, 0);
					z-index: 9;
				}
				>ul.sub-menu {
					visibility: visible;
					opacity: 1;
					transform: scaleY(1);
					z-index: 9;
				}
			}
		}
		li.mega-menu-wrap {
			position: static;
		}
	}
	.menu-pages {
		--main-container: 1824px;
		flex-wrap: wrap;
		position: absolute;
		left: 50%;
		width: 100%;
		max-width: var(--main-container);
		background-color: var(--white-color);
		padding: 48px;
		opacity: 0;
		visibility: hidden;
		transform: scaleY(0) translate(-50%, 0);
		transform-origin: top center;
		transition: all 0.4s ease 0s;
		overflow-y: scroll;
		height: 632px;
		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
			border-radius: 0px;
		}
		&::-webkit-scrollbar-track {
			display: none;
		}
		&::-webkit-scrollbar-thumb {
			display: none;
		}
		.single-menu-page {
			display: block;
			font-size: 20px;
			font-weight: 600;
			letter-spacing: -0.02em;
			&:not(:last-child) {
				margin-bottom: 40px;
			}
			.menu-tag {
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: -0.01em;
				background: var(--error-color);
				display: inline-block;
				padding: 2px 12px;
				border-radius: 40px;
				margin-left: 8px;
				color: $color_5;
			}
			&:has(.menu-tag) {
				.menu-category {
					margin-top: 0px;
				}
			}
			.menu-category {
				display: block;
				font-family: $font-family_1;
				font-size: 18px;
				font-weight: 400;
				margin-top: 4px;
			}
			&:hover {
				color: $color_21;
			}
		}
		.single-menu-page.active {
			color: $color_21;
		}
		.menu-banner-wrap {
			position: relative;
			height: 100%;
			img {
				height: 100%;
				object-fit: cover;
			}
			.menu-banner-content-wrap {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				text-align: center;
				padding: 0 46px 40px;
				z-index: 1;
				h4 {
					font-size: 30px;
					font-weight: 600;
					letter-spacing: -0.02em;
					margin-bottom: 24px;
				}
				.btn {
					display: inline-flex;
					text-transform: uppercase;
				}
			}
		}
	}
	.menu-pages.bg-title {
		.single-menu-page {
			color: $color_5;
			.menu-category {
				color: $color_5;
			}
			&:hover {
				color: $color_3;
			}
		}
		.single-menu-page.active {
			color: $color_3;
		}
	}
	ul.sub-menu {
		position: absolute;
		text-align: left;
		top: 100%;
		left: 0;
		background-color: var(--title-color);
		visibility: hidden;
		min-width: 280px;
		width: max-content;
		padding: 7px;
		left: -14px;
		opacity: 0;
		z-index: -1;
		border: 0;
		box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
		border-radius: 0;
		transform: scaleY(0);
		transform-origin: top center;
		transition: all 0.4s ease 0s;
		padding: 18px 20px 19px 18px;
		left: 0px;
		a {
			font-weight: 400;
			font-family: $font-family_1;
			letter-spacing: normal;
			line-height: 41px;
			font-size: 16px;
			color: $color_5;
			span {
				font-size: 12px;
				padding: 0px 5px;
				margin-left: 4px;
				background-color: var(--theme-color);
				color: $color_5;
				padding: 2px 5px;
				border-radius: 4px;
				position: relative;
				top: -1px;
			}
			&:hover {
				padding-left: 5px;
			}
		}
		li {
			display: block;
			margin: 0 0;
			padding: 0px 9px;
			a {
				position: relative;
				padding-left: 0px;
			}
			ul.sub-menu {
				left: 100%;
				right: auto;
				top: 0;
				margin: 0 0;
				margin-left: 15px;
				li {
					ul {
						left: 100%;
						right: auto;
					}
				}
			}
		}
		li.active {
			>a {
				color: $color_3;
				font-weight: 600;
			}
		}
		li.menu-item-has-children {
			>a {
				&:before {
					content: "";
					position: absolute;
					top: 20px;
					right: 0px;
					height: 9px;
					width: 2px;
					background: var(--white-color);
					transition: 0.4s;
					transform: rotate(45deg);
					display: inline-block;
					transition: 0.4s;
					transform: rotate(-45deg);
					top: 15px;
				}
				&:after {
					content: "";
					position: absolute;
					top: 20px;
					right: 0px;
					height: 9px;
					width: 2px;
					background: var(--white-color);
					transition: 0.4s;
					transform: rotate(45deg);
					display: inline-block;
					transition: 0.4s;
				}
			}
		}
	}
}
.simple-icon {
	border: none;
	background-color: transparent;
	color: $color_2;
	padding: 0;
	font-size: 22px;
	position: relative;
	.badge {
		padding: 0.2em 0.4em;
		font-size: 0.5em;
		top: -5px;
		right: 0px;
	}
	&:has(.badge) {
		padding-right: 8px;
	}
}
.header-button {
	height: 100%;
	display: flex;
	align-items: center;
	gap: 50px;
	margin-left: 85px;
	.search-btn {
		background: transparent;
		border: 0;
		display: flex;
		align-items: center;
		gap: 8px;
		font-size: 14px;
		font-weight: 600;
		font-family: $font-family_3;
		color: $color_2;
		padding: 0;
	}
}
.header-cart {
	display: flex;
	gap: 8px;
	color: $color_2;
	font-size: 14px;
	font-weight: 600;
	font-family: $font-family_3;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	align-items: center;
	border: 0;
	padding: 0;
	background: transparent;
	&:hover {
		.effect-1 {
			top: -100%;
		}
	}
}
.header-logo {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 80px;

  a {
    position: relative;
    display: block;

    h2 {
      position: absolute;
      top: 2px;
      left: 80px;
      font-size: 20px;
			line-height: 24px;
      font-weight: 200;

			&.style2 {
				color: #fff;
			}

			@media (max-width: 767px) {
				top: 0;
			}

			.typing-text {
				display: inline-flex;
				align-items: center;
				font-size: 1.5rem;
				font-weight: 600;
				color: #000;
			}

			.cursor {
				display: inline-block;
				margin-left: 2px;
				animation: blink 0.8s infinite;
			}

			@keyframes blink {
				0%, 50% { opacity: 1; }
				51%, 100% { opacity: 0; }
			}

    }
  }
}
.header-links {
	>ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		align-items: center;
	}
	li {
		display: inline-block;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		color: $color_2;
		font-family: $font-family_1;
		display: inline-flex;
		align-items: center;
		&:not(:last-child) {
			margin: 0 40px 0 0;
		}
		>i {
			margin-right: 8px;
		}
		.header-sub-links {
			li {
				&:not(:last-child) {
					margin: 0 30px 0 0;
					&:before {
						content: "/";
						position: absolute;
						right: -20px;
						top: 0;
						color: $color_2;
					}
				}
			}
		}
	}
	span {
		color: $color_2;
		font-family: $font-family_1;
		display: inline-flex;
		align-items: center;
	}
	p {
		color: $color_2;
		font-family: $font-family_1;
		display: inline-flex;
		align-items: center;
	}
	a {
		color: $color_2;
		font-family: $font-family_1;
		display: inline-flex;
		align-items: center;
		&:hover {
			color: $color_3;
		}
	}
	b {
		font-weight: 600;
		margin-right: 6px;
	}
	strong {
		font-weight: 600;
		margin-right: 6px;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
.sidebar-btn {
	background: transparent;
	position: relative;
	height: 60px;
	width: 60px;
	border: 2px solid var(--title-color);
	border-radius: 50%;
	text-align: center;
	line-height: 54px;
	padding: 0;
	.line {
		display: block;
		height: 2px;
		width: 18px;
		background: var(--title-color);
		margin: auto;
		transition: 0.4s;
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
	&:hover {
		.line {
			&:nth-child(2) {
				width: 10px;
			}
		}
	}
}
.header-layout1 {
	.sticky-wrapper {
		padding: 0px 36px;

		@media (max-width: 1024px) {
			padding: 10px 36px;
		}
	}
}
.header-layout2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.sticky-wrapper {
		padding: 0px 36px;
		.header-links {
			a {
				color: $color_5;
			}
		}
	}
	.main-menu {
		>ul {
			>li {
				>a {
					padding: 44.5px 20px;
					color: $color_5;
					&:before {
						border-color: var(--white-color);
					}
					&:hover {
						&:before {
							background: var(--white-color);
						}
					}
				}
			}
		}
		ul.sub-menu {
			background: var(--white-color);
			a {
				color: $color_2;
			}
			li.active {
				>a {
					color: $color_2;
				}
			}
			.menu-item-has-children {
				>a {
					&:before {
						background: var(--title-color);
					}
					&:after {
						background: var(--title-color);
					}
				}
			}
		}
	}
	.header-button {
		.search-btn {
			color: $color_5;
		}
	}
	.sticky-wrapper.header-sticky {
		background: var(--title-color);
	}
	.sidebar-btn {
		border-color: var(--white-color);
		margin: 25px 0;
		.line {
			background: var(--white-color);
		}
	}
}
.header-layout2.style2 {
	.main-menu {
		>ul {
			>li {
				>a {
					color: $color_2;
					&:before {
						border-color: var(--title-color);
					}
					&:hover {
						&:before {
							background: var(--title-color);
						}
					}
				}
			}
		}
		ul.sub-menu {
			background: var(--title-color);
			a {
				color: $color_5;
			}
			li.active {
				>a {
					color: $color_3;
				}
			}
			.menu-item-has-children {
				>a {
					&:before {
						background: var(--white-color);
					}
					&:after {
						background: var(--white-color);
					}
				}
			}
		}
	}
	.header-button {
		.search-btn {
			color: $color_2;
		}
	}
	.sticky-wrapper.header-sticky {
		background: var(--white-color);
	}
	.sidebar-btn {
		border-color: var(--title-color);
		.line {
			background: var(--title-color);
		}
	}
}
.header-layout3 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	.sticky-wrapper {
		padding: 0px 36px;
		.header-links {
			a {
				color: $color_5;
			}
		}
	}
	.main-menu {
		>ul {
			>li {
				>a {
					padding: 44.5px 20px;
					&:before {
						border-color: var(--white-color);
					}
					&:hover {
						&:before {
							background: var(--white-color);
						}
					}
				}
			}
		}
	}
}
.header-layout4 {
	.header-top {
		padding: 10px 0;
		.header-text {
			margin-bottom: 0;
		}
	}
}