<header class="nav-header header-layout1">
    <div class="sticky-wrapper">
        <!-- Main Menu Area -->
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="assets/images/logo-xm.png" alt="logo">
                                <h2>Creative. Tech. AI.</h2>
                            </a>
                        </div>
                    </div>
                    <div class="col-auto ms-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="active menu-item-has-children">
                                    <a href="#">
                                        <span class="link-effect">
                                            <span class="effect-1">HOME</span>
                                            <span class="effect-1">HOME</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="link-effect">
                                            <span class="effect-1">WHAT WE DO</span>
                                            <span class="effect-1">WHAT WE DO</span>
                                        </span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#">XM Creative</a></li>
                                        <li><a href="#">XM TechOps</a></li>
                                        <li><a href="#">XM Artificial Intelegance</a></li>
                                        <li><a href="#">XM Growth</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="link-effect">
                                            <span class="effect-1">USE CASE</span>
                                            <span class="effect-1">USE CASE</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="navbar-right d-inline-flex d-lg-none">
                            <button type="button" class="menu-toggle sidebar-btn">
                                <span class="line"></span>
                                <span class="line"></span>
                                <span class="line"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>