<header class="nav-header" [class]="isHome ? 'header-layout2' : 'header-layout'">
  <div class="sticky-wrapper">
    <!-- Main Menu Area -->
    <div class="menu-area">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto">
            <div class="header-logo">
              <a [routerLink]="'/'">
                <img [src]="isHome ? 'assets/images/logo-xm-white.png' : 'assets/images/logo-xm.png'" alt="XM Digitals | End-to-End Digital Solutions, Enhanced with AI">
                <h2 class="typing-text" [class]="isHome ? 'style2' : ''">
                  <span #typingEl></span>
                </h2>
              </a>
            </div>
          </div>
          <div class="col-auto ms-auto">
            <nav class="main-menu d-none d-lg-inline-block">
              <ul>
                <li class="active menu-item-has-children">
                <a [routerLink]="'/'" routerLinkActive="active">
                  <span class="link-effect">
                    <span class="effect-1">HOME</span>
                    <span class="effect-1">HOME</span>
                  </span>
                </a>
              </li>
              <li class="menu-item-has-children">
                <a [href]="'#'">
                  <span class="link-effect">
                    <span class="effect-1">SERVICES</span>
                    <span class="effect-1">SERVICES</span>
                  </span>
                </a>
                <ul class="sub-menu">
                  <li><a [routerLink]="'/services/xm-creative'">XM Creative</a></li>
                  <li><a [routerLink]="'/services/xm-tech'">XM Tech</a></li>
                  <li><a [routerLink]="'/services/xm-ai'">XM AI</a></li>
                  <li><a [routerLink]="'/services/xm-growth'">XM Growth</a></li>
                </ul>
              </li>
              <li>
                <a [routerLink]="'/insight'">
                  <span class="link-effect">
                    <span class="effect-1">INSIGHT</span>
                    <span class="effect-1">INSIGHT</span>
                  </span>
                </a>
              </li>
              </ul>
            </nav>
            <div class="navbar-right d-inline-flex d-lg-none">
              <button type="button" class="menu-toggle sidebar-btn">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>