<div class="landing-about-us">
  <div class="cta-area-1 overflow-hidden bg-theme space">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-10">
          <div class="title-area text-center mt-30 mb-0">
            <h2 class="sec-title">Hi, there..</h2>
            <h3 class="sec-title">Looking forward to meet you soon!</h3>
            <h4 class="sec-text mt-30 mb-40">About Us page is on the way</h4>
            <div class="btn-group justify-content-center">
              <a [routerLink]="'/'" class="btn mt-0">
                <span class="link-effect">
                  <span class="effect-1">Back to Home</span>
                  <span class="effect-1">Back to Home</span>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>