<div class="about-area-1 space bg-theme">
  <div class="about-img-1-1 shape-mockup img-custom-anim-left wow" data-left="0" data-top="-100px" data-bottom="140px" data-wow-duration="1.5s" data-wow-delay="0.1s">
    <img src="assets/images/normal/about_1-1.jpg" alt="img">
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-end">
      <div class="col-lg-6">
        <div class="overflow-hidden">
          <div class="about-content-wrap ">
            <div class="title-area mb-0">
              <h2 class="sec-title">From Ideas to Digital Intelligent Solutions</h2>
              <p class="sec-text mt-35">XM Digitals — a digital agency in Jakarta specializing in creative, technology, and AI transformation. We deliver end-to-end solutions tailored for startups, SMEs, and enterprises.</p>
              <p class="sec-text mt-30">We help businesses craft strong brand identities, build scalable digital platforms, and optimize operations with smart automation.</p>
              <div class="btn-wrap mt-50">
                <a href="#" class="link-btn">
                  <span class="link-effect">
                      <span class="effect-1">ABOUT US</span>
                      <span class="effect-1">ABOUT US</span>
                  </span>
                  <img src="assets/images/icon/arrow-left-top.svg" alt="icon">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>