<div class="landing-error">
  <div class="error-wrapper text-center">
    <div class="container">
      <img class="mb-50 404" src="assets/images/normal/404.png" alt="XM Digitals - Error Page">
      <h2>Look Like You’re Lost</h2>
      <p class="sec-text mb-30">The link you followed probably broken or the page has been removed</p>
      <a [routerLink]="'/'" class="link-btn">
        <span class="link-effect">
            <span class="effect-1">back to home</span>
            <span class="effect-1">back to home</span>
        </span>
        <img src="assets/images/icon/arrow-left-top.svg" alt="XM Digitals - Icon">
      </a>
    </div>
  </div>
</div>