.landing-home {
  margin-top: 100px;
  .about-area-1 {
    .about-img-1-1 {
      width: 44%;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
  @media (max-width: 1500px) {
    .about-area-1 .about-img-1-1 {
      width: 42%;
    }
  }
  @media (max-width: 991px) {
    .about-area-1 {
      margin-top: 0;
    }
    .about-area-1 .about-img-1-1 {
      width: 100%;
      top: -80px !important;
      position: relative !important;
    }
  }
}