<div class="preloader">
  <div class="preloader-inner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="mobile-menu-wrapper">
  <div class="mobile-menu-area">
    <button class="menu-toggle"><i class="fas fa-times"></i></button>
  <div class="mobile-logo">
    <a href="#"><img src="assets/images/logo-xm.png" alt="Ovation"></a>
  </div>
  <div class="mobile-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li class="menu-item-has-children">
        <a href="#">What We Do</a>
        <ul class="sub-menu">
          <li><a href="#">XM Creative</a></li>
          <li><a href="#">XM TechOps</a></li>
          <li><a href="#">XM Artificial Intelegance</a></li>
          <li><a href="#">XM Growth</a></li>
        </ul>
      </li>
      <li><a href="#">Case Studies</a></li>
    </ul>
  </div>
  <div class="mobile-menu">
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Sitemap</a></li>
    </ul>
  </div>
  <div class="sidebar-wrap">
    <h6>Plaza Oleos 5th floor,</h6>
    <h6>Jakarta, Indonesia</h6>
  </div>
  <div class="sidebar-wrap">
    <h6><a href="tel:+6281806603068">+62 818 0660 3068</a></h6>
    <h6><a href="mailto:hello@xmdigitals.com">hello&#64;xmdigitals.com</a></h6>
  </div>
  <div class="social-btn style3">
    <a href="https://instagram.com/">
      <span class="link-effect">
        <span class="effect-1"><i class="fab fa-instagram"></i></span>
        <span class="effect-1"><i class="fab fa-instagram"></i></span>
      </span>
    </a>
    <a href="https://twitter.com/">
      <span class="link-effect">
        <span class="effect-1"><i class="fab fa-twitter"></i></span>
        <span class="effect-1"><i class="fab fa-twitter"></i></span>
      </span>
    </a>
  </div>
  </div>
</div>