<div class="preloader">
  <div class="preloader-inner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<div class="mobile-menu-wrapper">
  <div class="mobile-menu-area">
    <button class="menu-toggle"><i class="fas fa-times"></i></button>
  <div class="mobile-logo">
    <a [routerLink]="'/'"><img src="assets/images/logo-xm.png" alt="XM Digitals | End-to-End Digital Solutions, Enhanced with AI"></a>
  </div>
  <div class="mobile-menu">
    <ul>
      <li class="main-menu"><a [routerLink]="'/'">Home</a></li>
      <li class="menu-item-has-children">
        <a [href]="'#'">Services</a>
        <ul class="sub-menu">
          <li><a [routerLink]="'/services/xm-creative'">XM Creative</a></li>
          <li><a [routerLink]="'/services/xm-tech'">XM Tech</a></li>
          <li><a [routerLink]="'/services/xm-ai'">XM AI</a></li>
          <li><a [routerLink]="'/services/xm-growth'">XM Growth</a></li>
        </ul>
      </li>
      <li class="main-menu"><a [routerLink]="'/solutions'">Solutions</a></li>
      <li class="main-menu"><a [routerLink]="'/insight'">Insight</a></li>
    </ul>
  </div>
  <div class="mobile-menu">
    <ul>
      <li><a [routerLink]="'/about-us'">About Us</a></li>
      <li><a [routerLink]="'/contact-us'">Contact Us</a></li>
      <li><a [routerLink]="'/sitemap'">Sitemap</a></li>
    </ul>
  </div>
  <div class="sidebar-wrap">
    <h6>Plaza Oleos 5th floor,</h6>
    <h6>Jakarta, Indonesia</h6>
  </div>
  <div class="sidebar-wrap">
    <h6><a href="tel:+6281806603068">+62 818 0660 3068</a></h6>
    <h6><a href="mailto:hello@xmdigitals.com">hello&#64;xmdigitals.com</a></h6>
  </div>
  <div class="social-btn style3">
    <a href="https://instagram.com/">
      <span class="link-effect">
        <span class="effect-1"><i class="fab fa-instagram"></i></span>
        <span class="effect-1"><i class="fab fa-instagram"></i></span>
      </span>
    </a>
    <a href="https://twitter.com/">
      <span class="link-effect">
        <span class="effect-1"><i class="fab fa-twitter"></i></span>
        <span class="effect-1"><i class="fab fa-twitter"></i></span>
      </span>
    </a>
  </div>
  </div>
</div>
<app-header />
<router-outlet />
<app-footer />