.about-area-1 {

  &.services {

    h1 {
      font-size: 56px;

      @media (max-width: 991px) {
        font-size: 36px;
      }
    }

    .hero-description {
      margin-top: 18px;
    }
  }
  
}